html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  letter-spacing: .05em;
  color: #171717;
}
img{
  width: 100%;
  vertical-align: bottom;
}
section{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}
.section-title{
  max-width: 1000px;
  color: #282f35;
  font-size: 6rem;
  font-style: italic;
  margin: 30px auto 50px;
  padding: 0;
}
.section-title::after{
  content: "";
  display: inline-block;
  background-color: #282f35;
  width: 200px;
  height: 5px;
  margin-left: 30px;
  vertical-align: middle;
}

/* ヘッダー */
header{
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  transform: .3s;
}
@keyframes Nwors{
  0%{
    letter-spacing: 3em;
    opacity: 0;
  }
}
.site-title{
  font-size: 2.6rem;
  color: #fff;
  animation: Nwors 1.5s;
}
.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}
.nav-list{
  display: flex;
}
.nav-item{
  margin-left: 30px;
}
.nav-item:last-of-type{
  margin-right: 0;
}
header a{
  color: #fff;
  text-decoration: none;
  transition: .3s;
  font-weight: bold;
  font-style: italic;
}
header a:hover{
  opacity: .7;
  transition: .3s;
}
.burger-btn{
  display: none;
}

/* ファーストビュー */
.fv{
  min-height: 453px;
  max-height: 800px;
  background-size: cover;
  background-position: center;
}
.main-copy{
  position: absolute;
  left: 50%;
  top: 40%;
  color: #fff;
  font-weight: bold;
  font-size: 200px;
  vertical-align: middle;
  transform: translate(-50%,-50%);
  opacity: .5;
}
.fv img{
  max-height: 800px;
}

/* コンパニー */
.company-list{
  display: flex;
  flex-direction: column;
  border: none;
}
.company-items{
  width: 100%;
  display: flex;
  border-top: solid;
  border-right: solid;
  border-left: solid;
}
.company-items:last-of-type{
  border-bottom: solid;
}
.company-item1{
  /* display: block; */
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border-right: solid;
}
.company-item2{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  /* border: solid; */
}
#company p{
  margin-top: 5px;
}

/* フッター */
.footer{
  padding: 30px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #282f35;
}

@media screen and (max-width:768px) {
  .section-title{
    /* padding: 0 10px; */
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .section-title::after{
    width: 50px;
  }

  /* ヘッダー */
  header{
    display: block;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #171717;
  }
  /* header{
    padding: 30px 4vw 0;
  } */
  .header-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    background-color: #282f35;
  }
  header nav.active{
    opacity: 1;
    visibility: visible;
  }
  .nav-list{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-item{
    margin: 0 0 30px;
  }
  .nav-item:last-of-type{
    margin-right: 0;
  }
  header a{
    text-decoration: none;
  }
  .burger-btn{
    display: block;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
  }
  .burger-btn div{
    height: 2px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .burger-btn div:nth-last-of-type(1){
    transform: translate(-50%, -10px);
  }
  .burger-btn div:nth-last-of-type(3){
    transform: translate(-50%, 10px);
  }
  .burger-btn.active div:nth-last-of-type(1){
    transform: rotate(45deg) translate(-50%, 0);
    transform-origin: 0 50%;
  }
  .burger-btn.active div:nth-last-of-type(2){
    opacity: 0;
  }
  .burger-btn.active div:nth-last-of-type(3){
    transform: rotate(-45deg)  translate(-50%, 0);
    transform-origin: 0 50%;
  }
  /* ファーストビュー */
  .fv{
    min-height: 500px;
  }
  .main-copy{
    position: absolute;
    left: 50%;
    top: 30%;
    color: #fff;
    font-weight: bold;
    font-size: 100px;
    vertical-align: middle;
    transform: translate(-50%,-50%);
  }
  .fv img{
    min-height: 500px;
    background-size: cover;
    background-position: center;
  }

  /* コンパニー */
  .company-list{
    display: flex;
    flex-direction: column;
  }
  .company-items{
    width: 100%;
    display: flex;
    border-top: solid;
    border-right: solid;
    border-left: solid;
  }
  .company-items:last-of-type{
    border-bottom: solid;
  }
  .company-item1{
    /* display: block; */
    width: 80%;
    font-size: 1.5rem;
    border-right: solid;
    vertical-align: middle;
  }
  .company-item2{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    word-break: break-all;
  }
  #company p{
    margin-top: 5px;
    font-size: 1.2rem;
  }
}
